<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" Content="IE=chrome">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
    </head>
    <body>
        <script type="text/javascript">
            async function fetchData() {
                let response = await fetch("http://localhost:8080/api/v1/planets");
                let data = await response.json();
                console.log(JSON.stringify(data));
            }
            fetchData();
        </script>
    </body>
</html>